/_includes/strap-jekyll-default-head.html
/_includes/strap-jekyll-default-header.html
/_includes/strap-jekyll-default-navbar-right.html
/_includes/strap-jekyll-default-footer.html
/_site
/assets/strap-jekyll-default-custom.css
/assets/strap-jekyll-default-custom.js
/node_modules
